* {
    margin: 0;
    padding: 0;
  }
 
  body{
    font-family:'Montserrat', sans-serif;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.516), rgba(0, 0, 0, 0.516)), 
    url(img/1562503905_0_160_3072_1888_1920x0_80_0_0_0cc6b095a76dcc23bbf51f948c3748fd.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .image-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;
  }

  .welcome__title{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: 15%;
    text-align: center;
    
  }

  .about_us{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
  }

  .button-wrapper {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    overflow: hidden;
 }
 .arrow-btn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    color: #ffffff;
    border: 4px solid #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .4em;
    transition: .2s;
    transition-delay: .1s;
 }
 .arrow-btn:hover {
    color: rgb(233, 152, 52);
    padding: 15px 35px;
 }
 .arrow-btn span {
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    overflow: hidden;
    transition: .35s cubic-bezier(.215, .61, .215, 1);
 }
 .arrow-btn span:before {
    content: "";
    position: absolute;
    top: -5%;
    left: -210%;
    width: 200%;
    height: 108%;
    background: #ffffff;
    transform: skew(-15deg, 0);
    transition: .5s;
 }
 .arrow-btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: -1000%;
    height: 2px;
    margin-top: -1px;
    width: 400%;
    background: #ffffff;
    transition: .5s;
 }
 .arrow-btn:hover:after {
    width: 140%;
    left: -20%;
 }
 .arrow-btn:hover span:before {
    left: -25%;
 }
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}
.menu-main {
  list-style: none;
  margin: 10px 0 5px;
  padding: 25px 0 5px;
  text-align: right;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #ffffff;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #ffffff;}
.menu-main a.current, .menu-main a:hover{color:rgb(233, 152, 52);}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: rgb(233, 152, 52);
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
