* {
    margin: 0;
    padding: 0;
  }
 
  body{
    font-family:'Montserrat', sans-serif;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.516), rgba(0, 0, 0, 0.516)), 
    url(img/eye.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .image-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;
  }

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}
.menu-main {
  list-style: none;
  margin: 10px 0 5px;
  padding: 25px 0 5px;
  text-align: right;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #ffffff;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #ffffff;}
.menu-main a.current, .menu-main a:hover{color:rgb(233, 152, 52);}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: rgb(233, 152, 52);
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
.square-block {
	width:958px; /*ширина */
	height:650px; /*высота */
	background:#ffffff41; /*фоновый цвет*/
	color:#fff; /*цвет шрифта*/
	text-align:center; /*выравнивание текста по центру*/
	text-transform:uppercase; /*написание текста заглавными буквами*/
	line-height:70px; /*высота строки текста*/
	margin-left: 300px;
	margin-top: 20px;
  margin-bottom: 50px;
	border-radius: 18px;
  overflow-y: auto;
  overflow-x: auto;
}

.img{
  font-weight: bold;
  font-size: 14px;
  line-height:190%;
}

.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  padding: 16px;
  font-size: 14px;
  font-weight: bold;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  font-size: 10px;
  font-weight: bold;
  padding: 12px 16px;
  line-height:190%;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #d78a4c;}

.footer{
  margin-bottom: 0;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  height: 60px;
  background-color:rgba(255, 255, 255, 0.229) ;
}