* {
    margin: 0;
    padding: 0;
  }
 
  body{
    font-family:'Montserrat', sans-serif;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.516), rgba(0, 0, 0, 0.516)), 
    url(img/1562503905_0_160_3072_1888_1920x0_80_0_0_0cc6b095a76dcc23bbf51f948c3748fd.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .image-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;
  }

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}
.menu-main {
  list-style: none;
  margin: 10px 0 5px;
  padding: 25px 0 5px;
  text-align: right;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #ffffff;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #ffffff;}
.menu-main a.current, .menu-main a:hover{color:rgb(233, 152, 52);}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: rgb(233, 152, 52);
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
.square-block {
	width:900px; /*ширина */
	height:650px; /*высота */
	background:#ffffff41; /*фоновый цвет*/
	color:#fff; /*цвет шрифта*/
	text-align:center; /*выравнивание текста по центру*/
	text-transform:uppercase; /*написание текста заглавными буквами*/
	line-height:70px; /*высота строки текста*/
	margin-left: 300px;
	margin-top: 20px;
  margin-bottom: 20px;
	border-radius: 18px;
  overflow-y: auto;
  overflow-x: auto;
}

.button-courusel {
  max-width: 400px;
  margin: 10px auto;
  text-align: center;
  overflow: hidden;
}
.button-cinema {
  max-width: 400px;
  margin:auto;
  text-align: center;
  overflow: hidden;
}
.button-gorki {
  max-width: 400px;
  margin: 10px auto;
  text-align: center;
  overflow: hidden;
}
.button-extrim {
  max-width: 400px;
  margin: 10px auto;
  text-align: center;
  overflow: hidden;
}
.button-jump{
  max-width: 400px;
  margin: 10px auto;
  text-align: center;
  overflow: hidden;
}
.button-kacheli {
  max-width: 400px;
  margin: 10px auto;
  text-align: center;
  overflow: hidden;
}
.button-TC {
  max-width: 400px;
  margin: 10px auto;
  text-align: center;
  overflow: hidden;
}
.button-karting {
  max-width: 400px;
  margin: 10px auto;
  text-align: center;
  overflow: hidden;
}
.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #e69854;
  box-shadow: 0 15px 20px rgba(189, 116, 60, 0.4);
  color: white;
  transform: translateY(-7px);
}